x-airflow-common: &airflow-common
  build:
    context: .
    dockerfile: Dockerfile.airflow
  image: company-mlops-airflow:latest
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__CORE__FERNET_KEY: "9ZWg7k7AVhbejDUXHdRY0feTBWz-rRDqi6z8N15xsgc="
    AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "False"
    AIRFLOW__WEBSERVER__SECRET_KEY: "TTmWA-Soss3lS78uB55gSLHLmS3YlbRZ20A7CGq81O8LLmTrYOcCaYu--8CabdJxZdXmQT1ui3oo6F9w8j6DIg"

    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow

    SNOWFLAKE_ACCOUNT:  ${SNOWFLAKE_ACCOUNT}
    SNOWFLAKE_USER:     ${SNOWFLAKE_USER}
    SNOWFLAKE_PASSWORD: ${SNOWFLAKE_PASSWORD}

    SNOWFLAKE_ROLE:      "ACCOUNTADMIN"
    SNOWFLAKE_WAREHOUSE: "COMPUTE_WH"
    SNOWFLAKE_DATABASE:  "IOTDATABASE"
    SNOWFLAKE_SCHEMA:    "FRAMEWORK_PROD"

    # ✅ FIX HERE
    MLFLOW_TRACKING_URI: "http://host.docker.internal:5000"
    MLFLOW_EXPERIMENT:   "framework_training_airflow_v2"
  volumes:
    - ./dags:/opt/airflow/dags
    - ../:/opt/company-mlops-framework
  user: "${AIRFLOW_UID:-50000}"
  depends_on:
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:13
    container_name: airflow-postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 5s
      retries: 5
    volumes:
      - airflow_postgres_data:/var/lib/postgresql/data

  airflow-init:
    <<: *airflow-common
    container_name: airflow-init
    entrypoint: /bin/bash
    command:
      - -c
      - |
          airflow db init
          airflow users create \
            --username admin \
            --firstname Admin \
            --lastname User \
            --role Admin \
            --email admin@example.com \
            --password admin \
          || echo "Admin user may already exist – continuing."
    restart: "no"

  airflow-webserver:
    <<: *airflow-common
    container_name: airflow-webserver
    command: webserver
    ports:
      - "8081:8080"
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow-scheduler
    command: scheduler
    depends_on:
      airflow-init:
        condition: service_completed_successfully

volumes:
  airflow_postgres_data:
